@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url(../font/Poppins-Regular.woff);
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url(../font/Poppins-Medium.woff);
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url(../font/Poppins-SemiBold.woff);
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url(../font/Poppins-Bold.woff);
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url(../font/Roboto-Medium.woff);
}