$screen-xsm: 320px;
$screen-sm: 828px;
$screen-md: 1024px;
$screen-lg: 1366px;
$screen-xlg: 1920px;

$black: #000;
$white: #fff;


:root {
  --color-text: #5e6282;
  --color-active: #f9995d;
  --color-title: #292e3d;
  --second-color-text: #1e1d4c;
}
