body,
input,
select,
textarea,
button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.img_pc,
.img_mo {
  display: inline-block;
  max-width: 100%;
  object-fit: cover;
}

.only_pc {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: none;
  }
}

.only_mo {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: block;
  }

  @media screen and (min-width: 1201px) {
    display: none;
  }
}

// Header 

.section_inner {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  .section_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 87px 10px 112px;
  }
}

.title_mainlogo {
  font-size: 0;
}

.link_logo {
  display: inline-block;
}

.gnb {
  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      // display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: -150%;
      width: 100%;
      height: 100%;
      padding: 7.5rem 1.5rem 2.5rem 4rem;
      background-color: var(--first-color-dark);
      transition: left 0.4s;
    }
  }

  &_link {
    display: block;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--color-title);
  }
}

.is_click .gnb_link {
  font-weight: 600;
  color: var(--color-active);
}

// common titile 
.common_title {
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }
}