body,
input,
select,
textarea,
button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}

.is_hidden {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.img_pc,
.img_mo {
  display: inline-block;
  max-width: 100%;
  object-fit: cover;
}

i {
  display: inline-block;
}

.only_pc {
  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    display: none;
  }
}

.only_tablet {
  @media screen and (max-width: 375px) {
    display: none;
  }

  @media screen and (min-width: 1201px) {
    display: none;
  }
}

.only_mo {
  // @media screen and (max-width: 768px){
  //   display: block;
  // }

  @media screen and (max: 375px) {
    display: block;
  }

  @media screen and (max: 375px) {
    display: block;
  }

  @media screen and (min-width: 376px) {
    display: none;
  }
}

// Header 

.section_inner {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // background-color: #fff;
  // z-index: 2000;

  .section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 87px 10px 112px;

    @media screen and (max-width: 1200px) {
      padding: 26px 44px 26px 40px;
    }

    @media screen and (max-width: 430px) {
      padding: 14px 24px;
    }
  }
}

.title_mainlogo {
  font-size: 0;
}

.link_logo {
  display: inline-block;
}

.gnb {
  font-size: 0;

  @media screen and (max-width: 1200px) {
    z-index: 1000;
  }

  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1200px) {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -150%;
      width: 50%;
      height: 100vh;
      padding: 46px 0 0 12px;
      background-color: #fff;
      transition: right 0.4s;
      box-sizing: border-box;
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {
      padding: 46px 0 0 46px;
    }

    @media screen and (min-width: 376px) and (max-width: 768px) {
      width: 60%;
    }

    @media screen and (max-width: 375px) {
      width: 230px;
    }
  }

  .show_menu {
    right: 0;
  }

  &_link {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-title);

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      font-weight: 600;
      color: #f9995d;
      transform: translate(-50%, -50%);
      opacity: 0;
      white-space: nowrap;
      content: attr(data-text);

      @media screen and (max-width: 1200px) {
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }

    &:hover {
      color: transparent;

      &::after {
        opacity: 1;
      }
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {
      padding: 20px 25px;
      font-size: 20px;
      line-height: 30px;
    }

    @media screen and (max-width: 375px) {
      padding: 8px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  &_toggle {
    z-index: 1000;
    font-size: 0;

    @media screen and (min-width: 1201px) {
      display: none;
    }
  }

  &_toggle {
    .nav_close {
      position: absolute;
      top: 16px;
      right: 20px;
    }
  }
}


// show menu 
.show_menu {
  right: 0;
}

// common titile 
.common_title {
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    font-size: 36px;
    line-height: 48px;
  }

  @media screen and (max-width: 768px) {
    font-size: 30px;
    line-height: 40px;
  }

  @media screen and (max-width: 375px) {
    font-size: 20px;
    line-height: 30px;
  }
}

// button

.active {
  &_link {
    position: relative;
    padding: 12px 16px;
    font-size: 18px;
    line-height: 27px;
    color: var(--second-color-text);
    display: inline-block;
    margin-top: 44px;
    border: 1px solid var(--color-title);
    box-shadow: 0px 8px 37px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;

    @media screen and (max-width: 768px) {
      margin-top: 32px;
      padding: 0;
      border: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-decoration: underline;
      box-shadow: none;
    }

    &:hover {
      border: 1px solid #f9995d;
      background-color: #f9995d;
      box-shadow: none;
      color: #fff;

      @media screen and (max-width: 768px) {
        border: none;
        background-color: #fff;
        text-decoration: underline;
        color: #f9995d;
      }
    }
  }
}

.img {
  &_pc {
    @media screen and (max-width: 567px) {
      display: none;
    }
  }

  &_mo {
    @media screen and (min-width: 568px) {
      display: none;
    }
  }
}

// dimmed
.dimmed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  opacity: 0.4;
}