<header class="header" id="header">
    <div class="section_inner">
        <h1 class="title_mainlogo">
            <a href="#" class="link_logo">
                <img src="../img/images/logo_pc.png" alt="HIVELAB VINA" class="img_pc">
                <!-- <img src="../img/images/logo_mo.png" alt="HIVELAB VINA" class="img_mo"> -->
            </a>
        </h1>
        <nav class="gnb">
            <ul class="gnb_list">
                <li class="gnb_item">
                    <a href="#" class="gnb_link">Home</a>
                </li>
                <li class="gnb_item is_click">
                    <a href="#" class="gnb_link">About Us</a>
                </li>
                <li class="gnb_item">
                    <a href="#" class="gnb_link">Work</a>
                </li>
                <li class="gnb_item">
                    <a href="#" class="gnb_link">Services</a>
                </li>
                <li class="gnb_item">
                    <a href="#" class="gnb_link">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
</header>