<header class="header" id="header">
    <div class="section_inner">
        <div class="section_header">
            <h1 class="title_mainlogo">
                <a href="#none" class="link_logo">
                    <img src="../img/images/logo_pc.png" alt="HIVELAB VINA" class="img_pc">
                    <img src="../img/images/logo_mo.png" alt="HIVELAB VINA" class="img_mo">
                </a>
            </h1>
            <nav class="gnb">
                <ul class="gnb_list">
                    <li class="gnb_item">
                        <a href="#none" class="gnb_link">Home</a>
                    </li>
                    <li class="gnb_item is_click">
                        <a href="#none" class="gnb_link">About Us</a>
                    </li>
                    <li class="gnb_item">
                        <a href="#none" class="gnb_link">Work</a>
                    </li>
                    <li class="gnb_item">
                        <a href="#none" class="gnb_link">Services</a>
                    </li>
                    <li class="gnb_item">
                        <a href="#none" class="gnb_link">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <button type="button" class="gnb_toggel" aria-label="Button Toggle Navigation">
                <i class="icon_menu"></i>
            </button>
        </div>
    </div>
</header>