<header class="header" id="header">
    <div class="section_inner">
        <div class="section_header">
            <h1 class="title_mainlogo">
                <a href="#header" class="link_logo">
                    <img src="../img/images/logo_pc.png" alt="HIVELAB VINA" class="img_pc">
                    <img src="../img/images/logo_mo.png" alt="HIVELAB VINA" class="img_mo">
                </a>
            </h1>
            <nav class="gnb">
                <ul class="gnb_list">
                    <li class="gnb_item">
                        <a href="#home" class="gnb_link" data-text="Home">Home</a>
                    </li>
                    <li class="gnb_item">
                        <a href="#about" class="gnb_link" data-text="About Us">About Us</a>
                    </li>
                    <li class="gnb_item">
                        <a href="#work" class="gnb_link" data-text="Work">Work</a>
                    </li>
                    <li class="gnb_item">
                        <a href="#services" class="gnb_link" data-text="Services">Services</a>
                    </li>
                    <li class="gnb_item">
                        <a href="#contact" class="gnb_link" data-text="Contact Us">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <button type="button" class="gnb_toggle" aria-label="Button Toggle Navigation">
                <i class="icon_menu"></i>
            </button>
        </div>
    </div>
</header>